.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__container {
  background-color: white;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  position: relative;
}

.popup__close-button {
  position: absolute;
  top: 0;
  right: 0;
}
